// Card
.card {
  display: flex;
  flex-direction: column;
  color: $clr-dark-text;
  padding: 16px 24px;
  border: 1px $clr-border solid;
  border-radius: 4px;
  &.centered {
    align-items: center;
    text-align: center;
    padding: 32px;
    p:last-child {
      margin-bottom: 0;
    }
  }
  &.inverse {
    color: $clr-white;
  }
}
