// Header.tsx
.event-header {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;

  &-logo {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    @media (min-width: 640px) {
      width: 90px;
      height: 90px;
    }
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    @media (min-width: 640px) {
      flex-wrap: nowrap;
    }
  }
  &-info {
    flex-grow: 1;
    p {
      margin: 0 0 2px;
    }
  }
  &-title {
    margin: 0 0 10px;
  }
}
